body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info.info-danger {
  background-color: #e73f3f;
}
.quant-input {
  width: 80px;
}
a {
  color: blue;
  padding: 0 5px;
  text-decoration: unset;
}

a.active {
  font-weight: bold;
}

.beer-d {
  height: 100px;
  overflow: scroll;
  text-align: left;
  font-size: 1rem;
}
.menu-links {
  text-align: right;
}
#modal-content {
  background: #000;
  color: #fff;
  width: 500px;
  height: 800px;
  padding: 2rem;
}
.data label {
  display: block;
}
link {
  color: #000 !important;
}
